{% extends 'registration/base.html' %}


{% block title %}

سایت جنگو
{% endblock  %}


{% block main %}

<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Responsive Hover Table</h3>

          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

              <div class="input-group-append">
                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover">
            <thead>
              <tr>

                <th>title</th>
                <th>photo</th>
                <th>categories</th>
                <th>description</th>
                <th>author</th>
                <th>پست‌ویژه</th>
                <th>status</th>


              </tr>
            </thead>
            <tbody>
     
             
                
                {% if user.pk == object_list.0.author.pk %}TRUE{% endif %}
                {% for article in object_list %}
                
               
              <tr>
                    <td>
                    {% if request.user.is_superuser or article.status in "DB"|make_list %}
                        <a href="{% url 'accounts:article-update' article.pk %}">
                          {{article.title}}
                        </a>
                      {% else %}
                      {{article.title}}
                        {% endif %}
                    </td>
                    <td><img width=100 src="{{article.photo.url}}" /></td>
                    <td>{{article.get_categories}}</td>
                    <td>{{article.description|truncatewords:20|striptags}}</td>
                    <td>{% firstof article.author.get_full_name article.author.get_username  %}</td>
                    <td>
                      {%if article.is_special%}
                      <li class="fa fa-check-circle" style="color:green"></li>
                      {% else %}
                      <li class="fa fa-minus-circle" style="color:red"></li>
                      {%endif%}

                    </td>
                   <td>
                        {% if article.status == 'P' %}
                        <span class="badge badge-success">
                            منتشر
                        </span>
                            <a class="badge badge-prime" href={% url 'blog:detail' article.slug %} target="_blank">
                                نمایش مقاله
                            </a>


                        {%elif article.status == 'B' %}
                        <span class="badge badge-warning">
                          برگشت داده شده
                      </span>
                      <a class="badge badge-secondary" href={% url 'blog:preview' article.pk %} target="_blank">
                        پیش‌نمایش
                    </a>


                        {% elif article.status == 'D' %}
                        <span class="badge badge-danger">
                            پیش‌نویس
                        </span>
                        <a class="badge badge-secondary" href={% url 'blog:preview' article.pk %} target="_blank">
                          پیش‌نمایش
                      </a>


                      {% else %}

                      <span class="badge badge-info">
                        در حال بررسی
                    </span>


                        {% endif %}


                        {% if request.user.is_superuser or article.status in "DB"|make_list %}
                            <br>
                          <a class="badge badge-danger" href="{% url 'accounts:article-delete' article.pk%} ">
                            حذف
                          </a>
                      
                          {% endif %}
                    
                   </td>

                   
                   

          

              </tr>
           
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>

{% endblock  %}