{% extends 'registration/base.html' %}


{% block title %}

سایت جنگو
{% endblock  %}


{% block main %}


<div class="col-8 text-center mx-auto">
    <div class="card card-success ">
        <div class="card-header  ">
            <h3 class="card-title mb-0 float-left ">تغییر گذرواژه</h3>

        </div>
                <!-- /.card-header -->
            <div class="card-body  bg-light table-responsive py-4">
                    <p>
                        گذرواژه شما با موفقیت تغییر کرد
                    </p>
           
            <!-- /.card-body -->
            </div>
        <!-- /.card -->
    </div>
    
</div>

{% endblock  %}