{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}


{%block main%}


<form method="post" enctype= "multipart/form-data"  >{% csrf_token %}
    <div class="col-10">
        {{  form.old_password |as_crispy_field }}
    </div>
    <div class="row">
        <div class="col-5">
            {{  form.new_password1 |as_crispy_field }}
        </div>
        <div class="col-5">
            {{ form.new_password2|as_crispy_field }}
        </div>
    </div>
   

    {% comment %} {{ form|crispy }} {% endcomment %}
    <input type="submit" value="ذخیره">
</form>

{% endblock %}