{% extends 'blog/base.html' %}
{% load jformat %}

{% block header %}
<header class="masthead" style="background-image: url('/static/blog/assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

        {% block main_content %}
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% comment %} TODO: i couldnt show the post of the tags:part 23 in youtube {% endcomment %}
                    {%for article in category.members.all%}
                    <div class="post-preview">
                        <a href="{% url 'blog:detail' article.slug %}">
                            <h2 class="post-title">{{article.title}}</h2>
                        </a>
                        <p class="post-subtitle">{{article.description|truncatewords:50}}</p>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Mohammad</a>
                            {{article.created_at|jformat:"%Y/%m/%d"}}
                            {% comment %} TODO: we can put condition if update_Time> Created time {% endcomment %}
                        </p>
                        <p class="post-tags">
                            {% for cat in article.category.all %}
                            <a href="#"> {{cat}}#  </a>
                           
                            {% endfor %}
                        </p>
                    </div>

                    {% endfor %}
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>
        
        {% endblock main_content %}
      
