{% extends 'blog/base.html' %}
{% load comment_tags %}  {# Loading the template tag #}
{% load ratings %}
{% block title %}
{{object.title}}
{% endblock title %}
{% block header %}

<header class="masthead" style="background-image: url('{{object.photo.url}}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{object.title}}</h1>
                    <span class="meta">
                        نویسنده:
                        <a href="{% url 'blog:author' object.author %}">{% firstof  object.author.get_full_name object.author  %}</a>
                        {{object.created_at|date:'Y/m/d'}}
                        <br>
                        {% ratings object %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}
        {% block post_content %}
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        {% if object.is_special %}
                            {% if user.is_authenticated and user.is_special_user or user.is_superuser or user.pk == object.author.pk %}
                                {{object.description|safe}}
                            {% else %}
                            {{object.description|striptags|truncatewords:30}}
                                 <p class="badge bg-warning">  این پست مخصوص کاربران ویژه است  میتوانید از <a href="#">اینجا ثبت نام</a> کنید</p>
                            {% endif %}
                        {% else %}
                        {{object.description|safe}}
                        {% endif %}
                    </div>
                    {% render_comments object request %} 
                </div>
            </div>
        </article>
        
        {% endblock post_content %}
        
